{% extends "__base.html" %}
{% load static %}
{% block title %}Real World Django - Мой профайл{% endblock %}
{% block content %}

<div class="vertical-layout">

{% include 'snippets/__left_menu.html' %}
    <!-- End LEFT_MENU -->

    <!-- Start MAIN_CONTAINER -->
    <div class="rightbar">

        <!-- Start TOP_BAR -->
   {% include 'snippets/__top_bar.html' %}
        <!-- End TOP_BAR -->

        <!-- Start CONTAINER_BAR -->
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <img src="{% static "images/users/profile.svg" %}" class="img-fluid" alt="profile"
                                 style="width: 250px">
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Основная информация</h5>
                        </div>
                        <div class="card-body">
                            <form action="." method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="mb-3">
                                    {{ field.label_tag }} {{ field }}
                                </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">
                                    Сохранить
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Мои события</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Событие</th>
                                        <th scope="col">Дата старта</th>
                                        <th scope="col">Моя оценка</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for enroll in profile_objects.user.enrolls.all %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>
                                            <a href="{{ enroll.event.get_absolute_url }}" data-test="event">
                                                {{ enroll.event }}
                                            </a>
                                        </td>
                                        <td data-test="event_start">{{ enroll.event.date_start|date:"d.m.Y" }}</td>
                                        {% for review in  profile_objects.user.reviews.all %}
                                            {% if enroll.event in profile_reviews and enroll.event == review.event %}
                                                <td data-test="event_rate">{{ review.rate|default:"--" }}</td>
                                            {% elif enroll.event not in profile_reviews and review == profile_objects.user.reviews.all.first %}
                                                <td data-test="event_rate">{{ '--' }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Мои отзывы</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Событие</th>
                                        <th scope="col">Отзыв</th>
                                        <th scope="col">Оценка</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for review in profile_objects.user.reviews.all %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>
                                            <a href="{{review.event.get_absolute_url}}" data-test="review_event">
                                                {{ review.event }}
                                            </a>
                                        </td>
                                        <td data-test="review_text">
                                            {{ review.text|truncatewords:4  }}
                                        </td>
                                        <td data-test="review_rate">{{ review.rate }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End CONTAINER_BAR -->

        <!-- Start FOOTER -->
{% include 'snippets/__footer.html' %}
        <!-- End FOOTER -->

    </div>
    <!-- End MAIN_CONTAINER -->

</div>
{% endblock %}
